.claude/
master-metadata/.git/
master-metadata/.git_bak/
master-metadata/.claude/
acms-esp/.git
acms-esp/.git_bak/
acms-esp/
board/
secure-build/
master-metadata/devices.json
master-metadata/__pycache__/
config.env
secure-build/config.env
server_comm/networking/default-wifi.conf
